GridPane, #resultTable {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 40%, #f73197, #bc1e20);
}

#leaderboard {

    -fx-background-color: #bc1e20;
    -fx-font-size: 30px;
    -fx-padding: 12px 12px;
    -fx-text-alignment: center;
    -fx-text-fill: #07adc6;

}

#leaderboard .te
Button {
    -fx-background-color: linear-gradient(#07adc6, #e54dc8),
    linear-gradient(#b2f7eb 0%, #0ef7d0 50%, #169681 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-background-radius: 50;
    -fx-background-insets: 0, 1, 2, 3, 0;
    -fx-text-fill: #094c40;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 10 20 10 20;
}

